//==================== Breakpoints ====================//

//== Small Mobile Phones ==//
$xxs: 500px;

//== Mobile Phones ==//
$xs: 767px;

//== Tablets ==//
$sm: 991px;

//== Laptops ==//
$md: 1200px;

//== Desktops ==//
$lg: $md + 1;
